<div class="container my-3">
    <div class="row animate__animated animate__flipInX my-4">
        <a class="btn-neon btn-primary" href="#">SUSCRIBETE HOY</a>
    </div>
    <div class="row my-3">
        <p class="text-center ">
            Lanza tu tienda
            online y hazla
            Crecer.
        </p>
        <p class="text-center ">
            Encuentra soluciones y Productos ganadores
            Construye tu tienda online.
        </p>
    </div>
    <div class="row align-items-center my-3">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="./assets/img/ana1.jpg" alt="Mi imagen" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h3>Recibe Información</h3>
            <h3>Precios y Descuentos!!!</h3>
            <h3>Al enviar tu información uno de nuestros asesores se contactara para una guia maestra</h3>
            <p>
                <a class="btn-neon btn-primary" href="#">SUSCRIBETE HOY</a>
            </p>
        </div>
    </div>
    <div class="row align-items-center my-3">
        <p class="text-center">
            Jurdo un ecosistema ilimitado de Beneficios y Posibilidades.
            Al suscribirte a Jurdo accedes a un ecosistema de soluciones 100%
            en linea y en Español, diseñado para emprendedores digitales como tú.
        </p>
        <p class="text-center">
            <img src="./assets/img/cur.jpg" alt="Mi imagen" class="img-fluid">
        </p>
        <p class="text-center">
            Experimenta una guia personalizada con nuestro programa.
        </p>
        <p class="text-just">
            Todo dise;ado para completar el proceso de lanzamiento y crecimiento de tu tienda online.
        </p>
        <p class="text-center">
            <img src="./assets/img/wat.png" alt="Mi imagen" class="img-fluid">
        </p>
        <p class="text-just">
            Accede a recursos, Analisis de mercado.
            Sesiones inmersivas para potenciar tu conocimiento de manera Colaborativa.
        </p>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-3">
            <form>
                <div class="mb-2">
                    <label for="txtEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-2">
                    <label for="txtComent" class="form-label">Comentario</label>
                    <textarea id="txtComent" class="form-control" rows="7"></textarea>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 mt-3">
            <img src="./assets/img/ana2.jpg" class="img-fluid" alt="Manteniemientos">
        </div>
    </div>